html, body{
	font-family: Arial, sans-serif;
	margin: 0;
}

header{
	background-color: #00004c; 
	background-image: url('../img/header-img.jpg');
	background-repeat: repeat;
	padding: 10px;
	text-align: center;
}

h1{
	font-size: 150px;
	color: white;
	text-shadow: 10px 10px 30px black;
	text-transform: uppercase;
}

h2{
	font-size: 100px;
	text-decoration: underline;
	font-family: ;
}

header img{
	border-radius: 300px;
	width: 400px;
	border: 5px solid white;
	box-shadow: 0 10px 20px black;
}

.lewis{
	max-width: 200px;
}

.deadpool{
	max-width: 200px
}

.content{
	max-width: 400px
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
	background color: #e6e6e6;
}

.selfie{
	max-width: 200px;
}

.firstphoto{
	max-width: 200px
}

p{
	background-color: lightgray;
	font-size: 30px;
	border-radius: 20px
}

ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

footer{
	margin-top: 10px
	padding: 40px 20px;
	background-color: #e6e6e6;
	text-align: center;
	font-size: 20px;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline;
}